/* mobile Menu */

.mobilemenu {
    display: none;
    /* margin-bottom: calc(100% - 100px); */
}

.sideBar {
    padding: 30px 0 30px 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.social-media-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    /* width: 50px; */
    align-items: center;
}

.list-icon {
    margin-top: 10px;
    z-index: 2;
    padding: 3px;
    margin-left: 15px;
    height: 30px;
}

.facebook {
    height: 30px;
    padding: 3px;
    margin-left: 15px;
}

.twitter {
    height: 30px;
    padding: 3px;
    margin-left: 15px;
}

.linkedin {
    height: 30px;
    padding: 3px;
    margin-left: 15px;
}

@media screen and (max-width:690px) {
    .sideBar {
        flex-direction: row;
        margin-bottom: 0;
        padding: 0 0 1px 0;
        width: 100%;
    }
    .social-media-icon {
        flex-direction: row;
        height: calc(100% - 90vh);
        width: fit-content;
        padding-right: 10px;
    }
    .mobilemenu {
        /* display: block; */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 60%;
        height: 91.5vh;
        background-color: #FFFFFF;
    }
    .menu-list {
        height: 50%;
        padding-top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu-items {
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #ABC6D6;
    }
    .facebook {
        height: 25px;
    }
    .twitter {
        height: 25px;
    }
    .linkedin {
        height: 25px;
    }
    .selected-item {
        background-color: #EFF6FB;
    }
}